<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yirc.mygoschool.mapper.MynsfwMapper">

    <resultMap id="BaseResultMap" type="yirc.mygoschool.domain.Mynsfw">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postuseropenid" column="postUserOpenId" jdbcType="VARCHAR"/>
            <result property="imgpath" column="imgPath" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postUserOpenId,imgPath,
        status,score
    </sql>
</mapper>
